{
    "tabWidth": 4,
    "endOfLine": "lf",
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.y{,a}ml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
