[build]
command = "yarn build"
publish = "dist"

[[headers]]
  for = "/*"
  [headers.values]
     Referrer-Policy = "no-referrer"

[[headers]]
  for = "/manifest.webmanifest"
  [headers.values]
    Content-Type = "application/manifest+json"

[[headers]]
  for = "/assets/*"
  [headers.values]
    cache-control = '''
    max-age=31536000,
    immutable
    '''

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
